
/* css for exit button */
.exit_button{
    margin-bottom: 20px;
}
.exit_icon {
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.exit_icon:hover{
    color: red;
}

.add_cate_title{
    text-align: center;
}
/* css for table add category */

.table_add_cate {
    width: 100%;
}
#cateName {
    width: 100%;
}
#cate_submit{
    margin-top: 15px;
    float: right;
}