.add_type_title{
    text-align: center;
}
/* css for exit button */
.exit_button{
    margin-bottom: 20px;
}
.exit_icon {
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.exit_icon:hover{
    color: red;
}

.table_add{
    width: 100%;
}
input{
    width: 100%;
}

.btn_submit{
    margin-top: 15px;
    float: right;
    width: 30%;
    background-color: rgb(5, 195, 5);
    color: white;
    outline: none;
    border: none;
}
.btn_submit:hover{
    background-color: rgb(18, 119, 18);
}