/* css for exit button */
.exit_button{
    margin-bottom: 20px;
}
.exit_icon {
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.exit_icon:hover{
    color: red;
}

.edit_cate_title{
    text-align: center;
}

.table_edit_cate {
    width: 100%;
}

#oldName,#newName{
    width: 100%;
    padding: 5px;
    margin: 10px;
}

#cate_submit{
    margin-top: 15px;
    float: right;
    width: 30%;
    background-color: rgb(5, 195, 5);
    color: white;
    outline: none;
    border: none;
}
#cate_submit:hover{
    background-color: rgb(18, 119, 18);
}