/* header css */
/* menu css */
.menu {
    background-color: red;
    height: 80px;
}

.menu_container{
    display: flex;
    justify-content: space-between;
}
.logo{
    line-height: 80px;
    width: 10%;
    height: 100%;
    text-align: center;
}
.logoImage{
    width: 40px;
    height: 40px;
}

.menu_category{
    width: 89%;
}

.menu_list{
    list-style: none;
    display: flex;
    line-height: 80px
}

.menu_item{
    padding:0 10px ;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.menu_item-link {
    color: white;
    text-decoration: none;
    
}