.main {
    background-color: rgb(168, 169, 170);
}

#header {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 84px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* css back and menu */
.back {
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.menu_form {
    background-color: black;
    width: 40%;
    height: 100%;
}

.menu_form button {
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.menu_form button i {
    color: white;
    font-size: 24px;
}

.menu_form button i:hover {
    color: red;
}

.title {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.menu_list {
    margin-top: 30px;
    list-style: none;
    padding-left: 100px;
    padding-right: 100px;
}

.menu_item {
    padding: 10px;
    border-radius: 2px;
}

.menu_item:hover {
    background-color: rgb(131, 126, 126);
}

.menu_item a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.hidden {
    display: none;
}


/* css for header */
.menu {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 10%;
    height: 84px;
    line-height: 84px;
    display: flex;
    align-items: center;
}

.boxBars {
    margin: auto;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 181, 181);
    cursor: pointer;
}

.boxBars i {
    font-size: 30px;
    padding-top: 5px;
}

.logo {
    width: 10%;
    height: 84px;
    display: flex;
    align-items: center;
}

.search {
    width: 60%;
    height: 84px;
    line-height: 84px;

}

.form {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_css {
    height: 30px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(174, 172, 172);
}

.search_btn {
    width: 10%;
    height: 30px;
    background-color: rgb(46, 46, 45);
    outline: none;
    line-height: 30px;
    border: none;
    border-radius: 20%;
    color: white;
}
.search_btn:hover{
background-color: #7a7878;
}

.search_btn i {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.account {
    height: 84px;
    line-height: 84px;
    width: 20%;
    text-align: center;
}

.account a {
    text-decoration: none;
    color: white;
}

.account a:hover {
    color: rgb(168, 168, 168);
}


/* css for slider */
#slider {
    padding-top: 50%;
    background: top center / cover no-repeat;
    
}

/* css home */
#home {
    margin-top: 30px;
}


.product_item {
    margin-top: 10px;
    border: 2px solid black;
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration: none;
}

.product_item:hover {
    text-decoration: none;
    margin: -10px;
}

.product_img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.name_product {
    color: black;
    margin-left: 5px;
    font-size: 20px;
    white-space: nowrap;
    /* Ngăn ngừa phần tử con từ việc xuống dòng */
    overflow: hidden;
    /* Ẩn phần tử con vượt quá chiều rộng của thẻ cha */
    text-overflow: ellipsis;
    /* Thay thế phần tử con bị ẩn bằng dấu ... */
}

.price_product {
    color: black;
    margin-left: 5px;
    margin-bottom: 5px;
}

#footer {
    background-color: rgb(19, 19, 19);
    color: white;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    text-decoration: none;
    color: rgb(56, 59, 56);
}

.footer-list {
    list-style: none;
}

.footer_content {
    padding-top: 20px;
}

.detail_form {

    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

.detail_form-img {
    width: 100%;
    height: auto;
}

.detail_rate i {
    color: yellow;
}

.price {
    color: red;
}

.product_info {
    border-left: 1px solid white;
}

.detail_func {
    display: flex;
}

.detail_func button {
    border: none;
    width: 200px;
    height: 50px;
    margin: 10px;
    text-align: center;
    color: white;
    line-height: 50px;
    border-radius: 5px;
}

.detail_func a {
    text-decoration: none;
}

.info_list {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;

}



.info_list tr:hover td {
    background-color: #292929;
    color: white;
}

.info_list td {
    background-color: #919191;
    padding: 10px;
    border-bottom: 1px solid #161616;
    font-weight: bold;
    color: black;
}

.add_cart {
    background-color: rgb(47, 47, 157);
}

.add_cart:hover {
    background-color: rgb(18, 18, 224);
}

.red_btn {
    background-color: rgb(168, 32, 32);
}

.red_btn:hover {
    background-color: rgb(221, 29, 29);
}

.feedback_form {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
}


.line_rate {
    display: block;
    width: 70%;
    height: 10px;
    background-color: rgb(127, 124, 124);
    border-radius: 10px;
}

.add_feedback_btn {
    border: none;
    color: white;
    width: 300px;
    height: 70px;
    border-radius: 3px;
    font-size: 20px;
}

.user_feedback {
    margin-top: 20px;
}

.user_feedback textarea {
    width: 100%;
    padding: 10px;
}

.user_rate_list {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

.user_rate_item {
    display: inline;
    cursor: pointer;
}

/* css contact */

.home {
    background-color: #292929;
}

.title_contact {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.contact_form{
    padding: 10px 200px;
    color: white;
}
.contact_form input{
   width: 100%;
   padding: 10px;
   outline: none;
   border-radius: 3px;
   margin-bottom: 10px;
}
.contact_form textarea{
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
 }

 .profile_form{
    padding: 10px 200px;
    color: white;
    margin-bottom: 1px;
    width: 100%;
}

.profile_table {
    width: 100%;
    border-collapse: collapse;
    
}

.profile_table tr {
    border-bottom: 1px solid #ddd;
    line-height: 2; /* Tăng khoảng cách giữa các dòng */
}

.profile_table td {
    padding: 10px;
}

.profile_table td:first-child {
    font-weight: bold;
    width: 30%;
}

.profile_table td:nth-child(2) {
    width: 70%;
}

.profile_form input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
 }
 .edit_btn{
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    float: right;
    cursor: pointer;
    border-radius: 3px;
 }
 .edit_form{
    margin-top: 50px;
 }


 header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.cart-container {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-details img {
    max-width: 50px;
    margin-right: 10px;
}

.item-name {
    font-weight: bold;
}

.item-quantity {
    margin: 0 10px;
}

.item-remove {
    color: #f00;
    cursor: pointer;
}

.cart-total {
    font-weight: bold;
    margin-top: 20px;
}

.checkout-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.cart{
    margin-top: 84px;
    padding-top: 10px;
    padding-bottom: 200px;
    background-color: #333;
}